html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.content-container {
  padding: 10px 20px;
}


.yus-dialog-dynamic {
  .el-dialog__body {
    padding: 0 !important;
    max-height: none !important;
    overflow-y: hidden !important;
  }

  .yus-dialog__body {
    // padding: 12px 16px;
    max-height: 60vh;
    overflow-y: auto;
  }

  .yus-dialog__body_form {
    padding: 12px 16px 1px 16px;
    max-height: 60vh;
    overflow-y: auto;
  }

  // 弹框里 el-tabs 多个 query-table
  .yus-dialog-tabs {
    .el-tabs__header {
      margin-bottom: 0;
      padding: 4px 16px 0;
    }

    .kye-dialog-body {
      padding-top: 6px;
    }
  }
}